/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    /*min-height: 100vh;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*padding: 20px;*/
    /*background: rgb(130, 106, 251);*/

}
.container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-left: 30%;
    margin-top: 5%;
}

.container header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}
.container .form {
    margin-top: 30px;
}
.form .input-box {
    width: 100%;
    margin-top: 20px;
}
.input-box label {
    color: #333;
}
.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
    display: flex;
    column-gap: 15px;
}
.form .gender-box {
    margin-top: 20px;
}
.gender-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}
.form .gender {
    column-gap: 5px;
}
.gender input {
    accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
    cursor: pointer;
}
.gender label {
    color: #707070;
}
.address :where(input, .select-box) {
    margin-top: 15px;
}
.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}
.form .sub {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: rgb(130, 106, 251);
}
.form .sub:hover {
    background: rgb(88, 56, 250);
}
.label-mg{
    margin-top: 20px;
    font-weight: bold;
}

label{
    font-weight: bold;
}

header{
    font-weight: bold;
}

.addressBtn{
    width: 100px;
    background: rgb(130, 106, 251);
    color: white;
    cursor: pointer;
}

#availableIdMsg{
    display: none;
    color: blue;
}

#notAvailableIdMsg{
    display: none;
    color: red;
}

.input-field {
    position: relative;
}

#checkIdBtn {
    position: absolute;
    margin-top: 8px;
    right: 0;
    font-size: 15px;
    top: 0;
    width: 100px;
    height: 86%;
    background: rgb(130, 106, 251);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0 6px 6px 0;
}


#modal {
    position:relative;
    width:100%;
    height:100%;
    z-index:1;
    display: none;
}

#modal button {

    width:40%;
    height: 30px;
    margin-top: 10px;

}

#modal .modalContent {
    width:300px;
    position: relative;
    top: -50%;
    left: 45%;
    /*margin:100px auto;*/
    padding:20px 10px;
    background:#fff;
    border:2px solid #666;
}

#modal .modalLayer {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    z-index:-1;
}


/*Responsive*/
@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }
    .form :where(.gender-option, .gender) {
        row-gap: 15px;
    }
}